* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1920px;
    font-size: 36px;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #A86831;
    color: white;
}
h2 {
    font-size: 90px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1920px;  
}
h3 {
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1920px;  
    font-weight: bold;
}
p {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: black;
    display: none;
    justify-content: center;
    align-items: center;
    max-width: 820px;
    margin: 0 auto;
    padding: 20px;
    line-height: 1.5;
    background-color: white;
    border-radius: 15px;
    margin-top: 30px;
}

.bgimg {
    background-image: url("images/banner1.jpg");
    width: 100%;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center; 
    height: 50vh;   
    background-attachment: fixed;
}
article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 20px;
}

.img {
   border-radius: 15px;
    object-fit: cover;
    transform-style: preserve-3d;
    transition: 0.5s;
   
   
}
main {
    background-color: #151D30;
}

.img:hover  {
    transform: scale(1.05);
    transition: 0.2s;
    opacity: 0.5;
    margin-top: 10px;
}

a:hover + p {
    display: flex;
}

.footer {
    border-radius: 0px;
    background-color: #151D30;

}

.footertext {
    color: white;
    font-size: 18px;
    display: flex;
    background-color: #151D30;
    height: 100px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}

a:active {
    color: white;
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #151D30;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #417F7D;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #608990;
  }

P {

}